.profile {
  display: flex;
  padding-top: 40px;
  align-items: center;
}

.profile__avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 30px;
  background-position: center;
  object-fit: cover;
}

.profile__info {
  display: grid;
  justify-content: center;
  gap: 7px 18px;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  align-items: center;
  padding-top: 22px;
}

.profile__title {
  max-width: 373px;
  font-family: "Inter", Arial, Sans-serif;
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  margin: 0;
  grid-area: title;
  text-overflow: ellipsis;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background: transparent url(../images/edit-pencil.svg) center no-repeat;
  grid-area: button;
  padding: 0;
  border: 1px solid white;
  cursor: pointer;
  align-items: center;
  transition: opacity 0.6s ease-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

.profile__description {
  font-family: "Inter", Arial, Sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.78px;
  grid-area: description;
  text-overflow: ellipsis;
  margin: 0 0 21px 0;
  max-width: 373px;
  white-space: nowrap;
  overflow: hidden;
}

.profile__add-button {
  background: transparent url(../images/Add\ Button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
  margin-left: 165px;
  padding: 0;
  transition: opacity 0.6s ease-out;
  border-radius: 2px;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 900px) {
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    max-width: 500px;
  }

  .profile__title {
    font-size: 30px;
    max-width: 241px;
    min-width: 196px;
  }

  .profile__description {
    text-align: center;
    max-width: 300px;
  }

  .profile__edit-button {
    margin: 0;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    margin: 0;
    min-width: 100px;
    margin-left: 18px;
  }
}

@media screen and (max-width: 620px) {
  .profile {
    flex-direction: column;
    margin: auto;
    padding-top: 0;
  }
  .profile__avatar {
    margin: 38.25px 0 26.25px 0;
  }
  .profile__info {
    display: flex;
    flex-wrap: wrap;
    padding-top: 0;
    gap: 14px 10px;
    max-width: 282px;
  }

  .profile__title {
    max-width: 196px;
    font-size: 22px;
    line-height: 26.63px;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin: 0;
    background-size: 7.5px;
  }

  .profile__description {
    max-width: 282px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    line-height: 16.94px;
    margin: 0 0 36px;
  }

  .profile__add-button {
    background: transparent url(../images/Plus.svg) center no-repeat;
    margin: 0;
    width: 282px;
  }
}
